<!DOCTYPE html>
<html>
<head>
  <title>Final Project</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
</head>

<body>
  <nav>

  <%= link_to "Log In", new_user_session_path %> |
  <%= link_to "Sign Up", new_user_registration_path %>
  </nav>
   <%= render "layouts/header" %> <!-- Include the header partial here -->
  <%= yield %>
</body>
</html>
