<% provide(:title, 'Course Roster') %>
<h1>Course Roster</h1>

<% @course.users.each do |course.name| %>
    <p>
        <strong>Name:</strong> <%= course.name %> 
        <br>
        <strong>Email:</strong> <%= user.email %> 
        <br>
        <strong>Created_at:</strong> <%= user.created_at %> 
        <br>
        <strong>Updated_at:</strong> <%= user.updated_at %> 
        <br>
        <br>
        <%= link_to 'Edit', edit_user_path(user) %>

        <%= form_with model: user, method: :delete do |form| %>
            <%= form.submit 'Delete' %>
        <% end %>

        <strong>-----------------------------------</strong>
    </p>
<% end %>
