<% provide(:title, 'Edit Course') %>
<div class="login-container">
<h1>Edit Course</h1>

<%= form_with(model: @course, url: course_path(@course), method: :patch) do |f| %>
  <%= render "course_errors_messages" %>
  <br>
  <div>
    <%= f.label :name, "Course Name" %><br>
    <%= f.text_field :name, autofocus: true %>
  </div>
  <br>
  <div>
    <%= f.label :description, "Course Description" %><br>
    <%= f.text_field :description, autofocus: true %>
  </div>
  <br>
  <div>
    <%= f.label :credits, "Number of Credits" %><br>
    <%= f.number_field :credits, min: 1, max: 9 %>
  </div>
  <br>
  <div>
    <%= f.submit "Update Course" %>
  </div>
<% end %>
<br>
</div>
