<% provide(:title, 'All Courses') %>
<h1>Courses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Credits</th>
    </tr>
  </thead>
  <tbody>
    <% @current_user.courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.description %></td>
        <td><%= course.credits %></td>
        <td><%= link_to 'View', course_path(course) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Back to Home", root_path %>

