<% provide(:title, 'Course Roster') %>
<h1>Course Roster for <%= @course.name %></h1>

<% if current_user.teacher? %>
  <%= form_with url: course_enrollments_path(@course), method: :post do |form| %>
    <%= form.label :email, "Email" %>
    <%= form.email_field :user_email, placeholder: "Enter student's Email", required: true %>
    <%= form.hidden_field :course_id, value: @course.id %>
    <%= form.submit 'Add Student' %>
  <% end %>
<% end %>



<% if @course.users.any? %>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @course.users.each_with_index do |user, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <%= button_to 'Drop', course_enrollment_path(user_id: user.id, course_id: @course.id), method: :delete, data: {confirm: "Are you sure?"} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No users are currently enrolled in this course.</p>
<% end %>
