<p><strong>Id:</strong> <%= @course.id %></p>
<p><strong>Name:</strong> <%= @course.name %></p>
<p><strong>Email:</strong> <%= @course.description %></p>
<p><strong>Email:</strong> <%= @course.credits %></p>
<p><strong>Created_at:</strong> <%= @course.created_at %></p>
<p><strong>Updated_at:</strong> <%= @course.updated_at %></p>