<h1>All Presentations</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Description</th>
      <th>Presenter</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @course.presentations.each do |presentation| %>
      <tr>
        <td><%= link_to presentation.title, course_presentation_path(@course, presentation.id) %></td>
        <td><%= presentation.date.strftime("%B %d, %Y") %></td>
        <td><%= presentation.description %></td>
        <td><%= presentation.user.name %> (<%= presentation.user.email %>)</td>
        <td>
          <% if current_user.teacher? || presentation.user == current_user %>
            <%= link_to "Edit", edit_presentation_path(presentation), class: "btn btn-primary" %>
            <%= button_to "Delete", presentation_path(presentation), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class: "btn btn-danger" %>
          <% elsif current_user.student? && presentation.user != current_user %>
            <%= link_to "Evaluate", new_presentation_evaluation_path(presentation), class: "btn btn-secondary" %>
          <% else %>
            <em>N/A</em>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Create New Presentation", new_presentation_path, class: "btn btn-success" %>
