<h1>All Presentations of <%= @course.name %></h1>
<% if current_user.teacher? %>
  <%= link_to "Create a New Presentation", new_course_presentation_path(@course) %>
<% end %>
<% if @course.presentations.empty? %>
  <% if current_user.teacher? %>
    <p>You currently have no presentations. Click "Create a New Presentation" to create one</p>
  <% else %>
     <p>The teacher has not created any presentations yet<p>
  <% end %>
<% else %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Description</th>
      <th>Presenter</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @course.presentations.each do |presentation| %>
      <tr>
        <td><%= link_to presentation.title, course_presentation_path(@course, presentation.id) %></td>
        <td><%= presentation.date.strftime("%B %d, %Y") %></td>
        <td><%= presentation.description %></td>
        <td><%= presentation.user.name %> (<%= presentation.user.email %>)</td>
        <td>
          <% if current_user.teacher? || presentation.user == current_user %>
            <%= link_to "Edit", edit_course_presentation_path(@course, presentation.id), class: "btn btn-primary" %>
            <%= button_to "Delete", course_presentation_path(@course, presentation.id), method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete this presentation?" } }, class: "btn btn-danger" %>
          <% elsif current_user.student? && presentation.user != current_user %>
            <%= link_to "Evaluate", new_course_presentation_evaluation_path(@course, presentation.id), class: "btn btn-secondary" %>
          <% else %>
            <em>N/A</em>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Create New Presentation", new_course_presentation_path(@course), class: "btn btn-success" %>
<% end %>