<h1>All Presentations</h1>

<% @presentations.each do |presentation| %>
  <div>
    <h2><%= presentation.title %></h2>
    <p><strong>Created by:</strong> <%= presentation.user.name || presentation.user.email %></p>
    <p><strong>Date:</strong> <%= presentation.date %></p>
    <p><strong>Description:</strong> <%= presentation.description %></p>
    <%= link_to "View", presentation_path(presentation) %>

    <% if presentation.user == current_user %>
      | <%= link_to "Delete", presentation_path(presentation), method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
<% end %>

<%= link_to "Create a New Presentation", new_presentation_path %>
