<h1>All Presentations</h1>

<% @presentations.each do |presentation| %>
  <div>
    <h2><%= link_to presentation.title, presentation_path(presentation) %></h2>
    <p><strong>Date:</strong> <%= presentation.date.strftime("%B %d, %Y") %></p>
    <p><strong>Description:</strong> <%= presentation.description %></p>

    <% if current_user.teacher? || current_user == presentation.user %>
      <%= button_to "Delete Presentation", presentation_path(presentation), method: :delete, data: { confirm: "Are you sure?" } %>
      <%= link_to "Edit Presentation", edit_presentation_path(presentation) %>
    <% end %>
  </div>
<% end %>
