<h1>Create a New Presentation</h1>

<%= form_with model: @presentation, url: course_presentations_path(@course), local: true do |f| %>
  <div>
    <%= f.label :title, "Presentation Title" %><br>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :date, "Presentation Date" %><br>
    <%= f.date_select :date %>
  </div>
  <div>
    <%= f.label :credits, "Presentation Credits" %><br>
    <%= f.text_field :credits %>
  </div>

  <div>
    <%= f.label :description, "Presentation Description" %><br>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.submit "Create Presentation" %>
  </div>
<% end %>

<%# = link_to "Back to Presentations", index_course_presentation_path(@course) %>
