<h1>New Presentation</h1>
<%= form_with model: @presentation do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>
  <%= f.submit "Create Presentation" %>
<% end %>
