<h1><%= @presentation.title %></h1>
<p>Date: <%= @presentation.date.strftime("%B %d, %Y") %></p>

<h2>Evaluations</h2>
<ul>
  <% @evaluations.each do |evaluation| %>
    <li>
      <strong>Score:</strong> <%= evaluation.score %> |
      <strong>Comment:</strong> <%= evaluation.comment %>
    </li>
  <% end %>
</ul>
<%= link_to "Add Evaluation", new_presentation_evaluation_path(@presentation) %>
